.Superior {
    background-color: brown;
    height: 100px;
    width: 50px;
    border-radius: 100px 0px 100px 0px;
    -webkit-border-radius: 100px 0px 100px 0px;
    -moz-border-radius: 100px 0px 100px 0px;
    -ms-border-radius: 100px 0px 100px 0px;
    -o-border-radius: 100px 0px 100px 0px;
    top: 40px;
    left: 120px;
    position: absolute;
    transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    z-index: 0;
    

}

.Planta1 {
    background-color: brown;
    width: 150px;
    height: 80px;
    position: absolute;
    top: 80px;
    left: 75px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 1;
}

.Planta2 {
    background-color: brown;
    width: 200px;
    height: 80px;
    position: absolute;
    top: 120px;
    left: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 2;
}

.Planta3 {
    background-color: brown;
    width: 250px;
    height: 80px;
    position: absolute;
    top: 160px;
    left: 26px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 3;
}

.boca {
    transform: rotate(180deg);
    background-color: white;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 4;
    top: 160px;
    left: 130px;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}





.boca2 {
    transform: rotate(180deg);
    background-color: brown;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 4;
    top: 160px;
    left: 130px;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 0 0 50px 50px;
    -webkit-border-radius: 0 0 50px 50px;
    -moz-border-radius: 0 0 50px 50px;
    -ms-border-radius: 0 0 50px 50px;
    -o-border-radius: 0 0 50px 50px;
    animation:boca 5s linear infinite alternate  ;
    -webkit-animation:boca 5s linear infinite alternate  ;
}
button{
    background-color: rgb(185, 167, 167);
    margin-top: 123px;
    margin-left: 95px;

}


/*Seño */
.seño {
    transform:rotate(45deg);
    width: 25px;
    height: 5px;
    margin-top: -10px;
    margin-left: -70px;
    border: 1px solid rgb(22, 21, 21);
    border-radius: 0px 50px 0px 50px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    -webkit-border-radius: 0px 50px 0px 50px;
    -moz-border-radius: 0px 50px 0px 50px;
    -ms-border-radius: 0px 50px 0px 50px;
    -o-border-radius: 0px 50px 0px 50px;
    z-index: 2;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}


/*Ojos y parpadeo para el cagarro */

.container {
    display: flex;
    margin-left: 90px;
    margin-top: 115px;
 


}

.ojo {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(203, 125, 125);
    border-radius: 50%;
overflow: hidden;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;

}

.pupil {
    margin-top: 123px;
    margin-left: 107px;
    position:absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    left: 5px;
    top: 5px;
    animation: Cerra1 2s linear infinite  ;
    -webkit-animation: Cerra1 2s linear infinite alternate ;
}

.pupil1 {
    margin-top: 123px;
    margin-left: 159px;
    position:absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    left: 5px;
    top: 5px;
    animation: Cerra1 2s linear infinite alternate;
    -webkit-animation: Cerra1 2s linear infinite alternate;
}
.ojo::before {
    margin-left: -10px;
    width: 50px;
    height: 55px;
    content: "";
    
    display: block;
    background: rgb(205, 64, 64);
    border-bottom: 3px solid rgb(203, 125, 125);
    animation: Cerrarojos 2s linear infinite alternate;
    -webkit-animation: Cerrarojos 2s linear infinite alternate;
    z-index: 3;

}





@keyframes Cerrarojos {


    0%,
    85% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

@keyframes Cerra1 {

    0%,
    84% {
        position: absolute;
        
    }

    100% {
        position: relative;
    }
}

@keyframes boca {


    0% {
        z-index: 2;
        
    }
    100%{
        visibility:100%;
    }
}


