*{
    margin: 8px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;

}
.one{
    background-color: rgb(255, 255, 255);

}

.two{
    background: rgb(255, 189, 21);
    color:aliceblue;
}
a{
    text-decoration: none;
    
}