/* Importar Tangerine */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Tangerine', cursive;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ffeb3b, #e91e63);
}
section h2{
    position:relative;
    text-align: center;
    font-size: 160px;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0.2);
}
section h2 span{
    font-size: 30px;
    font-family: sans-serif;
    display: flex;
}

section h2::before{
    content: '';
    position: absolute;
    top: -44px;
    left: -100px;
    width: 200px;
    height: 200px;
    background: transparent;
    border-left: 15px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    box-shadow: -14px -1px 10px rgba(0,0,0,0.2);
}
.fondo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url(../img/mosque.png);
    background-repeat: repeat-x;
    background-size: 1200px;
    z-index: 1;
    pointer-events: none;
    animation: animate 20s linear infinite;
    -webkit-animation: animate 20s linear infinite;
}



@keyframes animate{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1200px;
    }
}




.fondo::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: url(../img/mosque.png);
    background-repeat: repeat-x;
    background-size: 1600px;
    z-index: 1;
    pointer-events: none;
    opacity: 0.1;
    animation: animateReverse 40s linear infinite;
    -webkit-animation: animateReverse 40s linear infinite;
}



@keyframes animateReverse{
    0%{
        background-position: 1600px;
    }
    100%{
        background-position: 0px;
    }
}

.particles-js-canvas-el{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}