/* Importar Poppins */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;


}
.container .caja{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin:5px;
}

.container .caja .imgCaja{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.container .caja:hover .imgCaja{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.container .caja .imgCaja img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

}

.container .caja .capa{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
.container .caja .capa.capa1{
    background: #0096ff;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}
.container .caja:hover .capa.capa1{
    background: #0096ff;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.container .caja .capa.capa2{
    background: #90ff00;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
}
.container .caja:hover .capa.capa2{
    background: #90ff00;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.container .caja .contenidoCaja{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black;
    color:rgb(255, 255, 255);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transform: translateY(300%);
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -o-transform: translateY(300%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.container .caja:hover .contenidoCaja{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.container .caja .contenidoCaja div{
    transition: 1.5s;
    transform: translateY(400px);
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
}
.container .caja:hover .contenidoCaja div{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}