*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.Loader{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent,transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
    -webkit-animation: animate 2s linear infinite;
}

.Loader::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}

.Loader::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(45deg, transparent,transparent 40%, #e5f403);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
    -webkit-filter: blur(30px);
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter:hue-rotate(0deg);
        -webkit-filter:hue-rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        filter:hue-rotate(360deg);
        -webkit-filter:hue-rotate(360deg);
}
}
    